$gold: #c6b067;
$goldV2: #c6af66;
$footerBtn: #424343;
$customGray: #f7f7f8;
$lightGreyV2: #f7f7f8;
$platinum: #e9eaec;
$black1: #18191b;
$gray: #acada5;
$inputTextV2: #63636f;
$black2: #27282a;

@mixin text48 {
  font-size: 48px;
  line-height: 52px;
}
@mixin text40 {
  font-size: 40px;
  line-height: 48px;
}
@mixin text32 {
  font-size: 32px;
  line-height: 44px;
}
@mixin text32 {
  font-size: 32px;
  line-height: 44px;
}
@mixin text24 {
  font-size: 20px;
  line-height: 32px;
}
@mixin text20 {
  font-size: 20px;
  line-height: 24px;
}
@mixin text16 {
  font-size: 16px;
  line-height: 28px;
}
@mixin text15 {
  font-size: 15px;
  line-height: 20px;
}
@mixin text14 {
  font-size: 14px;
  line-height: 20px;
}
@mixin text12 {
  font-size: 12px;
  line-height: 15px;
}
